.top-section {
    width: 100%;
    background-image: url(../../assets/tlo.png); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #F6F6F6;
  }

  .container {
    height: 450px;
  }
  
  .container > h1 {
    font-size: 5rem;
    margin-bottom: 30px;
  }
  
  .container > p {
    font-size: 2rem;
  }
  
  .top-section-buttons {
    margin-top: 60px;
  }
  
  .top-section-buttons > a {
    text-decoration: none;
    color:#F99417;
  }
  
  .button {
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    background-color: #F5F5F5;
  }
  
  .login-button {
    margin-right: 30px;
  }