body {
    height: 100vh;
    background-image: url(../../assets/tlo.png); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 30px;
    background: transparent;
}

.text{
    color:#C9D6DF;
    font-size: 3rem;
    font-weight: 700;
}







