body {
  min-height: 100vh;
  background-image: url(/src/assets/tlo.png); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.App {
  min-height: 100vh;
  
  /* background-color: url(../../assets/tlo.png); */
  /* background-color: #52616B;  */
  /* height: 100vh;
  width: 100%; */
}

.box {
  background-color: #0f0f0f;
  width: 100%;
  color:#f5f5f5;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 0px 20px rgb(255, 153, 0);
}

.box h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.box button {
  background-color: rgb(255, 153, 0);
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 5px 5px;
  cursor: pointer;

}

.box form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.box input{
  background-color: #fff;
  color: #000;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.box select{
  background-color: #fff;
  color: #000;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.box li {
  margin-top: 10px;
  
}



.navbar li {
  margin-top: 0;
  border-top: none;
}

.navsettings li {
  margin-top: 0;
  border-top: none;
  padding: 10px 5px;
}

.box h3 {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 20px;
}

.box button.organizer {
  background-color: rgb(87, 112, 255);
}

.box .navbar-shadow {
  box-shadow: 0px 0px 7px rgb(255, 145, 0);
}

.participants {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 40px;
}

.participants li {
  margin-top: 5px;
  border-top: none;
}

.top-section {
  width: 100%;
  background-image: url(../../assets/tlo.png); 
  background-size: cover; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #F6F6F6;
}

.container > p {
  font-size: 2rem;
}

.top-section-buttons {
  margin-top: 60px;
}

.top-section-buttons > a {
  text-decoration: none;
  color:#F99417;
}

.button {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  background-color: #F5F5F5;
}

.login-button {
  margin-right: 30px;
}

.container{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 30px;
  background: transparent;
  height: 450px;
}

.container-h{
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 30px;
  background: transparent;
  height: 450px; 
  text-align: center;
  justify-content: center;
  align-items: center;
}


.text{
  color:#C9D6DF;
  font-size: 3rem;
  font-weight: 700;
}

.matchlist {
  display: flex;
}

.matchlist > p {
  display: flex;
  justify-content: center;
  align-content: stretch;
  flex-direction: column;
  width: auto;
}

.matchscore {
  padding: 0 10px;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.box .rewardsInput {
  width: 25%;
}

.box .deleteButton {
  background-color: red;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 30px;
}

.box .searchInput {
  background-color: #36454F;
}

.searchInput::placeholder {
  color:white;
}

.box .tournamentList {
  width: 20%; 
  min-height: 320px;
  margin-bottom: 5px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: none;
}

@media (max-width: 1023px) {
  .box .tournamentList {
    width: 100%;
    /* Inne style, które chcesz zastosować */
  }
}
