.App {
  background-color: #52616B;
  height: 100vh;
  width: 100%;
}

/* .nav_bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1E2022;
  padding: 15px 50px;
}

.left{
  display: flex;
  align-items: center;
  justify-content: center;
}

.right{
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
}

.nav{
  padding: 0 20px;
  position: relative;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #F5F5F5;
}

.nav:after{
  content: "";
  position: absolute;
  background-color: orange;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.nav:hover{
  color: green;
}

.nav:hover:after{
  width: 100%;
}

.top-section {
  height: 800px;
  background-color: #52616B;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #F5F5F5;
}

.container {
  height: 450px;
}

.container > h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.container > p {
  font-size: 1.3rem;
}

.top-section-buttons {
  margin-top: 60px;
}

.top-section-buttons > a {
  text-decoration: none;
  color:#F99417;
}

.button {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  background-color: #F5F5F5;
}


.login-button {
  margin-right: 30px;
} */