nav{
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0F0F0F;
    padding: 10px 20px;
  }
  
  .left{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .right{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  li {
    list-style: none;
  }
  
  .nav{
    padding: 0 20px;
    position: relative;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #F5F5F5;
  }
  
  .nav:hover{
    color: orange;
  }
  
  .nav:hover:after{
    width: 100%;
  }

  img{
    height: 40px;
    margin-top: 2px;
  }

  .right li ul{
    display: none;
    position: absolute;
    background-color: #0F0F0F;
    z-index: 1;
    padding-top: 10px;
  }
  
  .right li:hover ul{
    display: block;
  }

  .dropdown li{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
  }